.auth-container {
  width: 350px;
  margin: 100px auto;
  padding: 30px;
  background-color: #f5efe6;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.slider-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.slider-buttons button {
  flex: 1;
  padding: 10px;
  cursor: pointer;
  background-color: #e0d4c0;
  border: none;
  font-weight: 600;
  transition: 0.3s;
}

.slider-buttons button.active {
  background-color: #3e2723;
  color: white;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.auth-form h2 {
  margin-bottom: 15px;
  color: #3e2723;
}

.auth-form input {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.auth-form button {
  padding: 12px;
  background-color: #3e2723;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.auth-form button:hover {
  background-color: #5d4037;
}
