.admin-footer {
background: linear-gradient(135deg, #e1e4e6,#8cccd4,#6db2c4);
  padding: 15px 20px;
  font-size: 14px;
  color: #555;
  border-top: 1px solid #ddd;

  bottom: 0;            
  left: 0;
  width: 100%;

  text-align: center;
  z-index: 1000;
}

.admin-footer p {
  margin: 0;
}
